<% content_for :content do %>
  <section>
    <div class="container">
      <h2>Continuous rotation</h2>
      <div class="row">
        <div class="col-md-6 md-padded">
          <div class="icon-box">
            <i class="fa fa-lightbulb-o rotate blue icon"></i>
            <p class="info-text">
              Lorem ipsum dolor sit amet, in dicunt moderatius sed. At vix fugit delenit, his an facilis ancillae adipisci. Conceptam moderatius deterruisset ex eos, ea nulla vivendum democritum sea.
            </p>
          </div>
        </div>
        <div class="col-md-6 md-padded">
          <div class="icon-box">
            <i class="fa fa-star red rotate backwards icon"></i>
            <p class="info-text">
              Lorem ipsum dolor sit amet, in dicunt moderatius sed. At vix fugit delenit, his an facilis ancillae adipisci. Conceptam moderatius deterruisset ex eos, ea nulla vivendum democritum sea.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Flip card</h2>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= flip_card('<div class="icon-box">
            <i class="fa fa-star red icon"></i>
            <p class="info-text">
              Lorem ipsum dolor sit amet, in dicunt moderatius sed. At vix fugit delenit, his an facilis ancillae adipisci. Conceptam moderatius deterruisset ex eos, ea nulla vivendum democritum sea.
            </p>
          </div>'.html_safe, '<div class="icon-box">
            <i class="fa fa-star blues icon"></i>
            <p class="info-text">
              This is the backside of my flipping card. With some kind of extra content that i really know nothing about.
            </p>
            <p class="info-text">
              This is the backside of my flipping card. With some kind of extra content that i really know nothing about.
            </p>
          </div>'.html_safe) %>
        </div>
      </div>
    </div>
  </section>
<% end %>