<% content_for :content do %>
  <section class="info">
    <div class="container">
      <h1 class="text-center">Graphics play</h1>
      <p>
        This is just a playground where i collect snippets of css and js that I like.
      </p>

      <p>
        It can be stuff that I have written or stuff that I have found on the internet and want to understand better. It might be compatible with all browsers or only compatible with future or past browsers.
      </p>
      
    </div>
  </section>
<% end %>